[submodule "resume"]
	path = resume
	url = git@github.com:nekocode/resume.git
[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
	url = git@github.com:yihui/hugo-ivy.git
[submodule "project-gallery"]
	path = project-gallery
	url = https://github.com/nekocode/project-gallery
