[submodule "resume"]
	path = resume
	url = git@github.com:nekocode/resume.git
[submodule "project-gallery"]
	path = project-gallery
	url = https://github.com/nekocode/project-gallery
[submodule "themes/hugo-theme-one"]
	path = themes/hugo-theme-one
	url = git@github.com:nekocode/hugo-theme-one.git
