[submodule "themes/typo"]
	path = themes/typo
	url = git@github.com:tomfran/typo.git
[submodule "themes/hugo-theme-nostyleplease"]
	path = themes/hugo-theme-nostyleplease
	url = git@github.com:g-hanwen/hugo-theme-nostyleplease.git
